{% extends "base.html" %}
{% block content %}
<section id="content">



   <div class="row">


        <div class="eleven columns">
          <!-- {% block title %}{{ page.title }}{%endblock%} -->


          <h3>{{ page.title }}</h3>
          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(page) }}
      
          {{ page.content }}


        </div><!-- /.eleven.columns -->
        
     {% include 'sidebar.html' %}
 </div><!-- /.row -->

</section><!-- /#content -->
{% endblock content %}
