pelican-themes/

# Virtual environments
venv/
venv_new/
bin/
lib/
include/
pyvenv.cfg

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Pelican output
output/

# Jupyter Notebook
.ipynb_checkpoints

# Obsidian
.obsidian/

# pyenv
.python-version

# Environment variables
.env
.venv
ENV/
env/
venv/
